DATABASE_PASSWORD=raksha@123
DEMO_PASSWORD=hello@123
APP_PORT=8088
BIND_ADDRESS=127.0.0.1
COOKIE_SECURE=false
WORKER_ENABLED=true

# Optional Docker Hub image naming
DOCKERHUB_USERNAME=adarshbiradar
IMAGE_TAG=latest
